{% extends "myapp/base.html" %}

<!--Metadata-->
{% block description %}Gamification learning tool about the author{% endblock %}
{% block title %}About – Gamification Learning Tool{% endblock %}

<!--Main Content-->
{% block main %}
<div class="my-3">
    <h1>About</h1>
</div>

<div class="my-3">
    <h2>About This Site</h2>
    <p>
        Gamification is a novel and popular technique, as well as a multi-billion dollar industry.
        With all the news and products surrounding it, telling fact from fiction can be difficult.
    </p>
    <p>
        This website aims to equip educators with a deeper understanding of the elements behind
        gamification so that they can better design courses and lesson plans in the future.
        Anyone is welcome, from university professors and grade-school teachers,
        to private tutors and even curious students.
    </p>
</div>

<div class="my-3">
    <h2>About The Author</h2>
    <p>
        Eric Weng is an undergraduate Computer Science student at the UVA Engineering School.
        This website was created for his engineering capstone technical project, under guidance of
        CS Professor <a href="https://marksherriff.com/">Mark Sherriff</a>.
    </p>

    <p>
        View Eric's school projects and coursework <a href="https://github.com/qgt7zm">here</a>
        and his personal projects <a href="https://github.com/SlavSquatSuperstar">here</a>.
    </p>
</div>

{% endblock %}