{% extends "myapp/base.html" %}

<!--Metadata-->
{% block description %}Gamification learning tool about the author{% endblock %}
{% block title %}About – Gamification Learning Tool{% endblock %}

<!--Main Content-->
{% block main %}
<h1>About</h1>

<h2>About This Site</h2>
<p>
    Gamification is a popular technique, and it can be difficult to tell fact from fiction.
    This website aims to provide all educators a deeper understanding of the elements behind gamification
    so that they can better design lesson plans in the future.
    Anyone is welcome, from university professors and grade-school teachers
    to private tutors and even curious students.
</p>

<h2>About The Author</h2>
<p>
    Eric Weng is an undergraduate Computer Science student at the UVA Engineering School.
    This website was created for his engineering capstone technical project, under guidance of
    <a href="https://marksherriff.com/">CS Professor Mark Sherriff</a>.
</p>

<p>
    View Eric's school projects and coursework <a href="https://github.com/qgt7zm">here</a>
    and his personal projects <a href="https://github.com/SlavSquatSuperstar">here</a>.
</p>
{% endblock %}