{% extends "myapp/base.html" %}

<!--Metadata-->
{% block description %}Gamification learning tool about the author{% endblock %}
{% block title %}About – Gamification Learning Tool{% endblock %}

<!--Main Content-->
{% block main %}
<h1>About</h1>

<section class="my-4">
    <h2>About This Site</h2>
    <p>
        Gamification is a novel and popular technique, as well as a rapidly growing
        multi-billion dollar industry.
        With all the news and products surrounding it, telling fact from fiction
        can be difficult.
        At times, even researchers may buy into the hype and conduct biased or
        uncontrolled studies, leading to inconclusive and inaccurate results.
        As a result, instructors are often fed misconceptions by the media or
        marketing, which leads to poor student outcomes in the classroom.
    </p>
    <p>
        This website aims to equip educators with a deeper understanding of the
        individual elements behind gamification using experimental results backed
        by published scientific studies.
    </p>

    <h3>Self-Hosting</h3>
    <p>
        This website is designed so that anyone can download and host it with
        minimal setup and experience.
        Using the <a href="{% url 'myapp:data' %}">data management</a> page,
        you can easily create and share your custom databases.
        The entire source code and starter dataset is available on
        <a href="https://github.com/qgt7zm/capstone-project">GitHub</a>.
        Check back soon for licensing information.
    </p>
</section>

<hr>

<section class="my-4">
    <h2>About The Author</h2>
    <p>
        Eric Weng is a Computer Science undergraduate student at the UVA Engineering
        School.
        His other CS interests include game development, computer graphics, and
        cybersecurity.
        This website was created for his capstone technical project, with the
        assistance and guidance of CS Professor
        <a href="https://marksherriff.com/">Mark Sherriff</a>.
    </p>

    <h3>Contact</h3>
    <p>
        Eric can be reached by email at <a href="mailto:qgt7zm@virginia.edu">qgt7zm@virginia.edu</a>.
        View his school projects and coursework <a href="https://github.com/qgt7zm">here</a>
        and his personal projects <a href="https://github.com/SlavSquatSuperstar">here</a>.
    </p>
</section>

<section class="my-4">
    <h2>Licensing</h2>

    <p>
        This application is licensed under the open-source
        <a href="https://mit-license.org/">MIT license.</a>
        All users are allowed to run, copy, and modify the source code and share
        improvements as long as they include the copyright notice.
    </p>
</section>

{% endblock %}