{% extends "myapp/base.html" %}

<!--Metadata-->
{% block description %}Gamification learning tool add outcome{% endblock %}
{% block title %}Add Outcome – Gamification Learning Tool{% endblock %}

<!--Main Content-->
{% block main %}
<h1>Add Outcome</h1>

<form method="post" action="{% url 'myapp:add_outcome_form' %}">
    {% csrf_token %}
    <input type="hidden" name="action" value="add_outcome">

    <section class="my-4">
        <h2>Overview</h2>

        <div class="mb-3">
            <label class="form-label" for="name">Name:</label>
            <input class="form-control" type="text" id="name" name="name" required>
        </div>

        <div class="mb-3">
            <label class="form-label" for="description">Description:</label>
            <textarea class="form-control" id="description" name="description"></textarea>
        </div>
    </section>

    <section class="my-4">
        <button class="btn btn-success" type="submit">Confirm</button>
        <a class="btn btn-danger" href="{% url 'myapp:outcomes' %}">Cancel</a>
    </section>
</form>

{% endblock %}