<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Eric Weng">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="keywords" content="gamification,game element,design">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
<nav>
    <h1>Navigation</h1>
    <ul>
        <li><a href="{% url 'myapp:home' %}">Home</a></li>
        <li><a href="{% url 'myapp:elements' %}">Elements</a></li>
        <li>Scenarios</li>
        <li><a href="{% url 'myapp:resources' %}">Resources</a></li>
        <li><a href="{% url 'myapp:about' %}">About</a></li>
    </ul>
</nav>

<hr>

<main>
    {% block main %}{% endblock %}
</main>

<hr>

<footer>
    © 2025 Eric Weng
</footer>
</body>
</html>