{% extends "myapp/base.html" %}

<!--Metadata-->
{% block description %}Gamification learning tool data management{% endblock %}
{% block title %}Data – Gamification Learning Tool{% endblock %}

<!--Main Content-->
{% block main %}
<h1>Data</h1>

<section class="my-4">
    <h2>Data Management</h2>
    <p>
        All the data on this website is stored locally in an SQLite database.
        If you are using this site on your own machine, you can upload a custom
        version of the data to tune the scenario designer, own download a backup
        of your data. All imported and exported data is stored in JSON format.
    </p>

    <div class="grid gap-3 mb-3">
        <a class="btn btn-success" href="{% url 'myapp:data_export' %}">Export Data</a>
        <a class="btn btn-primary" href="#uploadCollapse"
           data-bs-toggle="collapse" role="button">Upload Data</a>
        <a class="btn btn-danger" href="#deleteCollapse"
           data-bs-toggle="collapse" role="button">Delete Data</a>
    </div>

    <div class="collapse mt-3" id="uploadCollapse">
        <div class="card card-body">
            <form method="post" action="{% url 'myapp:data_upload' %}"
                  enctype="multipart/form-data">
                {% csrf_token %}

                <p>
                    This action may overwrite some data in this application.
                    Backing up the database beforehand is strongly recommended.
                </p>

                <div class="mb-3">
                    <label for="file" class="mr-2">Select File:</label>
                    <input type="file" id="file" name="file" accept=".json">
                </div>

                <div>
                    <button type="submit" class="btn btn-primary">Confirm Upload</button>
                </div>
            </form>
        </div>
    </div>

    <div class="collapse mt-3" id="deleteCollapse">
        <div class="card card-body">
            <form method="post" action="{% url 'myapp:data_delete' %}">
                {% csrf_token %}

                <p>
                    This action will delete all data in this application.
                    Backing up the database beforehand is strongly recommended.
                </p>

                <input type="hidden" name="confirm" value="1">

                <div>
                    <button type="submit" class="btn btn-danger">Confirm Deletion</button>
                </div>
            </form>
        </div>
    </div>

    <!--Show messages-->
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} mt-3">
        <strong>{{ message }}</strong>
    </div>
    {% endfor %}
    {% endif %}
</section>

{% endblock %}