{% extends "myapp/base.html" %}

<!--Metadata-->
{% block description %}Gamification learning tool data management{% endblock %}
{% block title %}Data – Gamification Learning Tool{% endblock %}

<!--Main Content-->
{% block main %}
<h1>Data</h1>

<section class="my-4">
    <h2>Data Management</h2>
    <p>
        All the data on this website is stored locally in an SQLite database.
        If you are using this site on your own machine, you can upload a custom
        version of the data to tune the scenario designer or download a backup
        of your data. All imported and exported data is stored in Django's JSON
        format.
    </p>

    <div class="row">
        <div class="card col-md-4 mb-3">
            <div class="card-body">
                <h5 class="fs-5">Export Data</h5>
                <p>Open a JSON file containing all the records in the database.</p>
                <a class="btn btn-success float-left"
                   href="{% url 'myapp:data_export' %}">Confirm Export</a>
            </div>
        </div>

        <div class="card col-md-4 mb-3">
            <div class="card-body">
                <h5 class="fs-5">Upload Data</h5>
                <form method="post" action="{% url 'myapp:data_upload' %}"
                      enctype="multipart/form-data">
                    {% csrf_token %}

                    <p>
                        Overwrite the data in this application with a earlier backup.
                        Backing up the database beforehand is strongly recommended.
                        You may want to use the <a href="{% url 'myapp:add_resource' %}">
                        add resource</a> feature instead.
                    </p>

                    <div class="mb-3">
                        <label for="file" class="mr-2">Select File:</label>
                        <input type="file" id="file" name="file" accept=".json" required>
                    </div>

                    <div class="mb-3">
                        <input class="form-check-input" type="checkbox"
                               name="confirm_upload" value="1" id="confirm_upload"
                               required>
                        <label class="form-check-label" for="confirm_upload">
                            I understand that I may lose data
                        </label>
                    </div>

                    <div>
                        <button type="submit" class="btn btn-primary">
                            Confirm Upload
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <div class="card col-md-4 mb-3">
            <div class="card-body">
                <h5 class="fs-5">Delete Data</h5>
                <form method="post" action="{% url 'myapp:data_delete' %}">
                    {% csrf_token %}

                    <p>
                        Delete all data from this application.
                        Backing up the database beforehand is strongly recommended.
                    </p>

                    <div class="mb-3">
                        <input class="form-check-input" type="checkbox"
                               name="confirm_delete" value="1" id="confirm_delete"
                               required>
                        <label class="form-check-label" for="confirm_delete">
                            I understand that I may lose data
                        </label>
                    </div>

                    <div>
                        <button type="submit" class="btn btn-danger">
                            Confirm Deletion
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--Show messages-->
    {% if messages %}
    {% for message in messages %}

    {% if message.tags == 'success' %}
    <div class="alert alert-success mt-3">
        <strong>{{ message }}</strong>
    </div>
    {% endif %}

    {% if message.tags == 'error' %}
    <div class="alert alert-danger mt-3">
        <strong>{{ message }}</strong>
    </div>
    {% endif %}

    {% endfor %}
    {% endif %}
</section>

{% endblock %}