{% extends "myapp/base.html" %}

<!--Metadata-->
{% block description %}Gamification learning tool element info{% endblock %}
{% block title %}Element Info – Gamification Learning Tool{% endblock %}

<!--Main Content-->
{% block main %}
<h1>Element Information</h1>

<section class="my-4">
    <a class="btn btn-secondary" href="{% url 'myapp:elements'%}">Back to Elements</a>
</section>

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} mt-3">
    <strong>{{ message }}</strong>
</div>
{% endfor %}
{% endif %}

<section class="my-4">
    <h2>Overview</h2>

    <p><strong>Name:</strong> {{ element.name }}</p>
    <p><strong>Description:</strong> {{ element.description }}</p>
</section>

<section class="my-4">
    <h2>Outcomes ({{ element.get_outcomes|length }})</h2>
    <ul>
        {% for outcome in element.get_outcomes %}
        <li>
            <a href="{% url 'myapp:outcome_view' outcome_pk=outcome.pk %}">
                {{ outcome }}
            </a>
        </li>
        {% endfor %}
    </ul>
</section>

<section class="my-4">
    <h2>Resources ({{ element.get_resources|length }})</h2>
    <ul>
        {% for resource in element.get_resources %}
        <li>
            <a href="{% url 'myapp:resource_view' resource_pk=resource.pk %}">
                {{ resource }}
            </a>
        </li>
        {% endfor %}
    </ul>
    
    <a class="btn btn-primary" href="{% url 'myapp:edit_element' element_pk=element.pk %}">Edit</a>
</section>

<section class="my-4">
    <a class="btn btn-secondary" href="{% url 'myapp:elements'%}">Back to Elements</a>
</section>

{% endblock %}