{% extends "myapp/base.html" %}

<!--Metadata-->
{% block description %}Gamification learning tool game elements{% endblock %}
{% block title %}Elements – Gamification Learning Tool{% endblock %}

<!--Main Content-->
{% block main %}
<h1>Game Elements</h1>

<p>
    The following game elements are available for you to learn about.
    Each element has a list of expected learning outcomes and one or more resources
    where it was referenced.
    Click on the name of any element to view more information about it.
</p>

<section class="my-4">
    <h2>Search Elements</h2>

    <form method="post" action="{% url 'myapp:elements'%}">
        {% csrf_token %}
        <input type="hidden" name="action" value="search">

        <div class="card mb-3">
            <div class="card-body">
                <h3 class="card-title fs-5">Search for Anything</h3>

                <div class="mb-3 ">
                    <label class="form-label" for="any">Search Term:</label>
                    <input class="form-control" type="text" id="any" name="any">
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-body row">
                <h3 class="card-title fs-5">Filter by Column</h3>

                <div class="col-md-3 mb-3">
                    <label class="form-label" for="name">Name:</label>
                    <input class="form-control" type="text" id="name" name="name">
                </div>
                <div class="col-md-3 mb-3">
                    <label class="form-label" for="description">Description:</label>
                    <input class="form-control" type="text" id="description" name="description">
                </div>
                <div class="col-md-3 mb-3">
                    <label class="form-label" for="outcome">Outcome:</label>
                    <input class="form-control" type="text" id="outcome" name="outcome">
                </div>
                <div class="col-md-3 mb-3">
                    <label class="form-label" for="resource">Resource:</label>
                    <input class="form-control" type="text" id="resource" name="resource">
                </div>
            </div>
        </div>

        <div class="mb-3">
            <button class="btn btn-secondary" type="submit">Search</button>
        </div>
    </form>
</section>

<section class="my-4">
    <h2>Search Results</h2>

    <div class="table-responsive-lg">
        <table class="table table-bordered border-secondary">
            <tr>
                <th class="col-2">Name</th>
                <th class="col-5">Description</th>
                <th class="col-2">Outcomes</th>
                <th class="col-3">Resources</th>
            </tr>
            {% for element in elements %}
            <tr>
                <td>{{ element.name }}</td>
                <td>{{ element.description }}</td>
                <td>
                    <ul>
                        {% for outcome in element.get_outcomes %}
                        <li>{{ outcome }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul>
                        {% for resource in element.get_resources %}
                        <li>
                            <a class="text-primary" href="{% url 'myapp:resource_view' resource_pk=resource.pk %}">
                                {{ resource.get_citation }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</section>
{% endblock %}