{% extends "myapp/base.html" %}

<!--Metadata-->
{% block description %}Gamification learning tool homepage{% endblock %}
{% block title %}Home – Gamification Learning Tool{% endblock %}

<!--Main Content-->
{% block main %}
<h1>Home</h1>

<section class="my-4">
    <h2>Overview</h2>
    <p>
        Welcome to the interactive gamification learning tool, the best place to
        level up your gamification skills.
        All are welcome, from university professors and grade-school teachers,
        to private tutors and even curious students.
    </p>
    <p>
        Here, you can learn about different
        <a href="{% url 'myapp:elements' %}">game elements</a> and how to apply
        them to your classroom to achieve desired
        <a href="{% url 'myapp:outcomes' %}">learning outcomes</a>.
        If you're feeling adventurous, you can check out our the list of
        <a href="{% url 'myapp:resources' %}">resources</a> to read more.
        When you're ready, visit the
        <a href="{% url 'myapp:scenarios' %}">scenario designer</a> to input your
        classroom needs, and the website will design a gamified learning environment
        to suit you.
    </p>
</section>

<hr>

<section class="my-4">
    <h2>What is Gamification?</h2>

    <h3>Rationale</h3>
    <p>
        Students today suffer from a lack of motivation and knowledge retention.
        Schools prioritize memorization and standardization, leaving developing
        children and adolescents unable to express their individuality and
        critical thinking.
        Meanwhile, video games have captured the minds of young learners,
        often for hours at a time.
    </p>
    <p>
        So why not turn learning into to play?
        Gamification is the application of game elements in non-game contexts to
        improve productivity and achievement through fun.
        Some of its most cited benefits include increased motivation, engagement,
        and grades.
        Gamification helps bring the excitement back to school by giving students
        room to develop their creativity, teamwork, and problem solving through
        self-directed experimentation without fear of failure.
    </p>

    <h3>Say No to Hype</h3>
    <p>
        Chances are, you have noticed the rapid spread of gamified software in
        the past decade, from learning software such as Kahoot! and Duolingo to
        lifestyle companions such as Apple Fitness and Habitica.
        Perhaps you are already utilizing gamification in your classroom.
    </p>
    <p>
        But can gamification <em>really</em> double your learning retention
        or increase your grade by one whole letter?
        Companies may try to convince you that their gamification product is a
        magic bullet, but in reality the best strategy depends on a variety of
        factors.
        Start your journey by reading about the different
        <a href="{% url 'myapp:elements' %}">game elements</a>,
        and then learn how to craft gamified lesson plans around your
        student needs through the
        <a href="{% url 'myapp:scenarios' %}">scenario designer</a>.
    </p>
</section>

{% endblock %}