{% extends "myapp/base.html" %}

<!--Metadata-->
{% block description %}Gamification learning tool outcomes{% endblock %}
{% block title %}Outcomes – Gamification Learning Tool{% endblock %}

<!--Main Content-->
{% block main %}
<h1>Learning Outcomes</h1>

<p>
    The following learning outcomes are available for you to learn about.
</p>

<section class="my-4">
    <h2>Search Results</h2>

    <h3>Search for Anything</h3>
    <form method="post" action="#">
        {% csrf_token %}
        <input type="hidden" name="is_any" value="1">

        <div class="mb-3 ">
            <label class="form-label" for="any">Any:</label>
            <input class="form-control" type="text" id="any" name="any">
        </div>
        <div class="mb-3">
            <button class="btn btn-secondary" type="submit">Submit</button>
        </div>
    </form>

    <h3>Filter by Column</h3>
    <form method="post" action="#">
        {% csrf_token %}
        <input type="hidden" name="is_any" value="0">

        <div class="mb-3">
            <label class="form-label" for="name">Name:</label>
            <input class="form-control" type="text" id="name" name="name">
        </div>
        <div class="mb-3">
            <label class="form-label" for="description">Description:</label>
            <input class="form-control" type="text" id="description" name="description">
        </div>
        <div class="mb-3">
            <label class="form-label" for="resource">Resource:</label>
            <input class="form-control" type="text" id="resource" name="resource">
        </div>
        <div class="mb-3">
            <button class="btn btn-secondary" type="submit">Submit</button>
        </div>
    </form>
</section>

<section class="my-4">
    <h2>Results</h2>

    <div class="table-responsive-lg">
        <table class="table table-bordered border-secondary">
            <tr>
                <th class="col-1">Name</th>
                <th class="col-4">Description</th>
                <th class="col-2">Resources</th>
            </tr>
            {% for outcome in outcomes %}
            <tr>
                <td> {{ outcome.name }}</td>
                <td>{{ outcome.description }}</td>
                <td>[List of Resources]</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</section>

{% endblock %}