{% extends "myapp/base.html" %}

<!--Metadata-->
{% block description %}Gamification learning tool resources{% endblock %}
{% block title %}Resources – Gamification Learning Tool{% endblock %}

<!--Main Content-->
{% block main %}
<h1>Resources</h1>

<section class="my-4">
    <h2>Works Cited</h2>

    <p>
        The following resources were referenced directly in at least element info page.
    </p>

    <table>
        <tr>
            <th>Title</th>
            <th>Authors</th>
            <th>Date Published</th>
            <th>Location Published</th>
            <th>URL</th>
        </tr>
        <tr>
            <td>Resource 1</td>
            <td>[Authors]</td>
            <td>[Date]</td>
            <td>[Location]</td>
            <td>[URL]</td>
        </tr>
        <tr>
            <td>Resource 2</td>
            <td>[Authors]</td>
            <td>[Date]</td>
            <td>[Location]</td>
            <td>[URL]</td>
        </tr>
    </table>
</section>

<section class="my-4">
    <h2>Read More</h2>

    <p>
        The following resources were consulted to make this website but not directly referenced.
    </p>

    <table>
        <tr>
            <th>Title</th>
            <th>Authors</th>
            <th>Date Published</th>
            <th>Location Published</th>
            <th>URL</th>
        </tr>
        <tr>
            <td>Resource 1</td>
            <td>[Authors]</td>
            <td>[Date]</td>
            <td>[Location]</td>
            <td>[URL]</td>
        </tr>
        <tr>
            <td>Resource 2</td>
            <td>[Authors]</td>
            <td>[Date]</td>
            <td>[Location]</td>
            <td>[URL]</td>
        </tr>
    </table>
</section>

{% endblock %}