{% extends "myapp/base.html" %}

<!--Metadata-->
{% block description %}Gamification learning tool resources{% endblock %}
{% block title %}Resources – Gamification Learning Tool{% endblock %}

<!--Main Content-->
{% block main %}
<h1>Resources</h1>

<!--Show messages-->
{% if messages %}
{% for message in messages %}

{% if message.tags == 'success' %}
<div class="alert alert-success mt-3">
    <strong>{{ message }}</strong>
</div>
{% endif %}

{% if message.tags == 'error' %}
<div class="alert alert-danger mt-3">
    <strong>{{ message }}</strong>
</div>
{% endif %}

{% endfor %}
{% endif %}

<section class="my-4">
    <p>
        The following resources describe studies done on gamification or how to
        integrate it into current teaching practices.
        Click on the title of a resource to learn about its results and where to
        access the resource.
    </p>
    <p>
        Adding results to resources allows the scenario designer to make more
        accurate recommendations.
    </p>

    <a class="btn btn-primary" href="{% url 'myapp:add_resource'%}">Add Resource</a>
</section>

<section class="my-4">
    <h2>Search Resources</h2>

    <form method="get" action="{% url 'myapp:resources'%}">
        <input type="hidden" name="action" value="search">

        <div class="card mb-3">
            <div class="card-body">
                <h3 class="card-title fs-5">Search for Anything</h3>

                <div class="mb-3 ">
                    <label class="form-label" for="any">Search Term:</label>
                    <input
                            class="form-control" type="text" id="any"
                            name="any" value="{{ form_fields.any }}"
                    >
                </div>
            </div>
        </div>

        <div class=" card mb-3">
            <div class="card-body row">
                <h3 class="card-title fs-5">Filter by Column</h3>

                <div class="col-md-3 mb-3">
                    <label class="form-label" for="title">Title:</label>
                    <input
                            class="form-control" type="text" id="title"
                            name="title" value="{{ form_fields.title }}"
                    >
                </div>
                <div class="col-md-3 mb-3">
                    <label class="form-label" for="author">Author:</label>
                    <input
                            class="form-control" type="text" id="author"
                            name="author" value="{{ form_fields.author }}"
                    >
                </div>
                <div class="col-md-3 mb-3">
                    <label class="form-label" for="year">Year:</label>
                    <input
                            class="form-control" type="number" id="year"
                            name="year" value="{{ form_fields.year }}"
                    >
                </div>
                <div class="col-md-3 mb-3">
                    <label class="form-label" for="summary">Summary:</label>
                    <input
                            class="form-control" type="text" id="summary"
                            name="summary" value="{{ form_fields.summary }}"
                    >
                </div>
            </div>
        </div>

        <div class="mb-3">
            <button class="btn btn-secondary" type="submit">Search</button>
            <a class="btn btn-secondary" href="{% url 'myapp:resources'%}">Clear Filters</a>
        </div>
    </form>
</section>

<section class="my-4">
    <h2>Search Results ({{ resources|length }})</h2>

    <div class="table-responsive-lg">
        <table class="table table-bordered border-secondary">
            <tr>
                <th class="col-4">Title</th>
                <th class="col-2">Authors</th>
                <th class="col-1">Year</th>
                <th class="col-4">Summary</th>
            </tr>
            {% for resource in resources %}
            <tr>
                <td>
                    <a class="text-primary" href="{% url 'myapp:resource_view' resource_pk=resource.pk %}">
                        {{ resource.title }}
                    </a>
                </td>
                <td>
                    <ul>
                        {% for author in resource.get_short_authors %}
                        <li>{{ author }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>{{ resource.year }}</td>
                <td>{{ resource.summary }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</section>

<section class="my-4">
    <a class="btn btn-primary" href="{% url 'myapp:add_resource'%}">Add Resource</a>
</section>

{% endblock %}