{% extends "myapp/base.html" %}

<!--Metadata-->
{% block description %}Gamification learning tool resource view{% endblock %}
{% block title %}Resource view – Gamification Learning Tool{% endblock %}

<!--Main Content-->
{% block main %}
<h1>Resource Information</h1>

<section class="my-4">
    <a class="btn btn-secondary" href="{% url 'myapp:resources'%}">Back to Resources</a>
</section>

<section class="my-4">

    <h2>Overview</h2>

    <p><strong>Title:</strong> {{ resource.title }}</p>
    <p><strong>Authors:</strong></p>
    <ul>
        {% for author in resource.get_authors %}
        <li>{{ author }}</li>
        {% endfor %}
    </ul>
</section>

<section class="my-4">
    <h2>Publishing</h2>

    <p><strong>Year:</strong> {{ resource.year }}</p>
    <p><strong>Location:</strong> {{ resource.publisher }}</p>
    <p><strong>URL:</strong> {{ resource.url }}</p>
</section>

<section class="my-4">
    <h2>Results</h2>

    <p><strong>Summary:</strong> {{ resource.summary }}</p>
    <p><strong>Results:</strong></p>

    <div class="table-responsive-lg">
        <table class="table table-bordered border-secondary">
            <tr>
                <th class="col-1">Elements</th>
                <th class="col-1">Outcomes</th>
                <th class="col-1">Subject</th>
                <th class="col-1">Rating</th>
                <th class="col-1">Age Group</th>
                <th class="col-1">Sample Size</th>
            </tr>
            {% for result in results %}
            <tr>
                <td>{{ result.get_elements }}</td>
                <td>{{ result.get_outcomes }}</td>
                <td>{{ result.get_subject }}</td>
                <td>{{ result.get_rating }}</td>
                <td>{{ result.get_age_group }}</td>
                <td>{{ result.sample_size }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <a class="btn btn-primary" href="#">Add Result</a>
</section>

<section class="my-4">
    <a class="btn btn-secondary" href="{% url 'myapp:resources'%}">Back to Resources</a>
</section>

{% endblock %}