{% extends "myapp/base.html" %}

<!--Metadata-->
{% block description %}Gamification learning tool resources{% endblock %}
{% block title %}Resources – Gamification Learning Tool{% endblock %}

<!--Main Content-->
{% block main %}
<h1>Resources</h1>

<!--Show messages-->
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} mt-3">
        <strong>{{ message }}</strong>
    </div>
    {% endfor %}
    {% endif %}

<section class="my-4">
    <h2>Search Resources</h2>

    <h3>Search by Keyword</h3>
    <form method="post" action="#">
        {% csrf_token %}
        <input type="hidden" name="action" value="keyword">

        <div class="mb-3 ">
            <label class="form-label" for="any">Keyword:</label>
            <input class="form-control" type="text" id="any" name="any">
        </div>
        <div class="mb-3">
            <button class="btn btn-secondary" type="submit">Submit</button>
        </div>
    </form>

    <h3>Filter by Column</h3>
    <form method="post" action="#">
        {% csrf_token %}
        <input type="hidden" name="action" value="filter">

        <div class="mb-3">
            <label class="form-label" for="title">Title:</label>
            <input class="form-control" type="text" id="title" name="title">
        </div>
        <div class="mb-3">
            <label class="form-label" for="author">Author:</label>
            <input class="form-control" type="text" id="author" name="author">
        </div>
        <div class="mb-3">
            <label class="form-label" for="year">Year:</label>
            <input class="form-control" type="number" id="year" name="year">
        </div>
        <div class="mb-3">
            <label class="form-label" for="summary">Summary:</label>
            <input class="form-control" type="text" id="summary" name="summary">
        </div>
        <div class="mb-3">
            <button class="btn btn-secondary" type="submit">Submit</button>
        </div>
    </form>
</section>

<section class="my-4">
    <h2>Table of Resources</h2>

    <div class="table-responsive-lg">
        <table class="table table-bordered border-secondary">
            <tr>
                <th class="col-4">Title</th>
                <th class="col-2">Authors</th>
                <th class="col-1">Year</th>
                <th class="col-4">Summary</th>
            </tr>
            {% for resource in resources %}
            <tr>
                <td>
                    <a class="text-primary" href="{% url 'myapp:resource_view' resource_pk=resource.pk %}">
                        {{ resource.title }}
                    </a>
                </td>
                <td>
                    <ul>
                        {% for author in resource.get_authors %}
                        <li>{{ author }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>{{ resource.year }}</td>
                <td>{{ resource.summary }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</section>

<section class="my-4">
    <a class="btn btn-primary" href="{% url 'myapp:add_resource'%}">Add Resource</a>
</section>

{% endblock %}