{% extends "myapp/base.html" %}

<!--Metadata-->
{% block description %}Gamification learning tool scenario info{% endblock %}
{% block title %}Scenario Info – Gamification Learning Tool{% endblock %}

<!--Main Content-->
{% block main %}

<!--Show Messages-->
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} mt-3">
    <strong>{{ message }}</strong>
</div>
{% endfor %}
{% endif %}

<h1>Scenario Information</h1>

<section class="my-4">
    <a class="btn btn-secondary" href="{% url 'myapp:scenarios'%}">Back to Scenarios</a>
</section>

<section class="my-4">
    <h2>Overview</h2>

    <p><strong>Name:</strong> {{ scenario.name }}</p>
    <p><strong>Created:</strong> {{ scenario.get_created_at }}</p>
    <p><strong>Description:</strong> {{ scenario.description }}</p>
</section>

<section class="my-4">
    <h2>Design</h2>

    <p><strong>Subject:</strong> {{ scenario.get_subject }}</p>
    <p><strong>Age Group:</strong> {{ scenario.get_age_group }}</p>
    <p><strong>Desired Outcomes:</strong></p>
    <ul>
        {% for outcome in scenario.get_outcomes %}
        <li>
            <a href="{% url 'myapp:outcome_view' outcome_pk=outcome.pk %}">
                {{ outcome }}
            </a>
        </li>
        {% endfor %}
    </ul>
</section>

<section class="my-4">
    <h2>Recommendations</h2>

    <p><strong>Elements:</strong></p>
    {% for element in recommendations.elements %}
    <ul>
        <li>
            <a href="{% url 'myapp:element_view' element_pk=element.pk %}">{{ element.name }}</a>
            (Score = {{ element.score }}) ({{ element.label }})
        </li>
    </ul>
    {% endfor %}

    <p><strong>Resources:</strong></p>
    {% for resource in recommendations.resources %}
    <ul>
        <li>
            <a href="{% url 'myapp:resource_view' resource_pk=resource.pk %}">
                {{ resource }}
            </a>
        </li>
    </ul>
    {% endfor %}

    <a class="btn btn-primary" href="{% url 'myapp:edit_scenario' scenario_pk=scenario.pk %}">Edit</a>
    <button type="button" class="btn btn-danger"
            onclick="confirmDeleteScenario()">
        Delete
    </button>
</section>

<form method="post" id="delete_scenario" action="{% url 'myapp:delete_scenario' scenario_pk=scenario.pk %}">
    {% csrf_token %}
    <div class="mb-3">
        <input type="hidden" name="confirm_delete" value="1">
    </div>
</form>

<section class="my-4">
    <a class="btn btn-secondary" href="{% url 'myapp:scenarios'%}">Back to Scenarios</a>
</section>

<script>
    function confirmDeleteScenario() {
        if (confirm("Are you sure you want to delete this scenario?"))
            document.getElementById('delete_scenario').submit();
    }
</script>

{% endblock %}