{% extends "myapp/base.html" %}

<!--Metadata-->
{% block description %}Gamification learning tool scenarios{% endblock %}
{% block title %}Scenarios – Gamification Learning Tool{% endblock %}

<!--Main Content-->
{% block main %}
<h1>Scenario Designer</h1>

<!--Show messages-->
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} mt-3">
    <strong>{{ message }}</strong>
</div>
{% endfor %}
{% endif %}

<section class="my-4">
    <p>
        Scenarios describe different situations in which an instructor wants to gamify
        a classroom. When you design a new scenario, input your classroom requirements
        and desired learning outcomes, and the website will make the best recommendations
        for you. Click on the name of a past scenario to view the needs and results.
    </p>

    <a class="btn btn-primary" href="#">Create Scenario</a>
</section>

<section class="my-4">
    <h2>Search Scenarios</h2>

    <form method="post" action="{% url 'myapp:scenarios'%}">
        {% csrf_token %}
        <input type="hidden" name="action" value="search">

        <div class="card mb-3">
            <div class="card-body">
                <h3 class="card-title fs-5">Search for Anything</h3>

                <div class="mb-3 ">
                    <label class="form-label" for="any">Search Term:</label>
                    <input class="form-control" type="text" id="any" name="any">
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-body row">
                <h3 class="card-title fs-5">Filter by Column</h3>

                <div class="col-md-3 mb-3">
                    <label class="form-label" for="name">Name:</label>
                    <input class="form-control" type="text" id="name" name="name">
                </div>
                <div class="col-md-3 mb-3">
                    <label class="form-label" for="subject">Subject:</label>
                    <select class="form-select" id="subject" name="subject">
                        <option value="" selected></option>
                        {% for subject in subject_choices %}
                        <option value="{{ subject }}">{{ subject }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-3 mb-3">
                    <label class="form-label" for="age_Group">Age Group:</label>
                    <select class="form-select" id="age_group" name="age_group">
                        <option value="" selected></option>
                        {% for age_group in age_group_choices %}
                        <option value="{{ age_group }}">{{ age_group }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-3 mb-3">
                    <label class="form-label" for="outcome">Outcome:</label>
                    <input class="form-control" type="text" id="outcome" name="outcome">
                </div>
            </div>
        </div>

        <div class="mb-3">
            <button class="btn btn-secondary" type="submit">Search</button>
        </div>
    </form>
</section>

<section class="my-4">
    <h2>Search Results</h2>

    <div class="table-responsive-lg">
        <table class="table table-bordered border-secondary">
            <tr>
                <th class="col-2">Name</th>
                <th class="col-2">Created</th>
                <th class="col-2">Subject</th>
                <th class="col-2">Age Group</th>
                <th class="col-2">Outcomes</th>
            </tr>
            {% for scenario in scenarios %}
            <tr>
                <td>
                    <a href="{% url 'myapp:scenario_view' scenario_pk=scenario.pk%}">
                        {{ scenario.name }}
                    </a>
                </td>
                <td>{{ scenario.get_created_at }}</td>
                <td>{{ scenario.get_subject }}</td>
                <td>{{ scenario.get_age_group }}</td>
                <td>
                    <ul>
                        {% for outcome in scenario.get_outcomes %}
                        <li>{{ outcome }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</section>

<section class="my-4">
    <a class="btn btn-primary" href="{% url 'myapp:scenarios'%}">Create Scenario</a>
</section>
{% endblock %}